<div class="card-body">
    <h1 class="card-title mb-3">Address Form</h3>
    <!-- Change action to your endpoint -->
    <div class="row g-3">
        
        <!-- Provinsi -->
        <div class="col-12 col-md-6">
            <label for="provinsi_option" class="form-label">Provinsi <span class="text-danger">*</span></label>
            <select id="provinsi_option" class="form-select" required>
                <option value="" selected disabled>Pilih Provinsi</option>
            </select>
        </div>

        <!-- Kabupaten / Kota -->
            <div class="col-12 col-md-6">
            <label for="kab_kota_option" class="form-label">Kabupaten/Kota <span class="text-danger">*</span></label>
            <select id="kab_kota_option" class="form-select" required disabled>
                <option value="" selected disabled>Pilih Kabupaten / Kota</option>
            </select>
        </div>

        <!-- Kecamatan -->
            <div class="col-12 col-md-6">
            <label for="kec_option" class="form-label">Kecamatan <span class="text-danger">*</span></label>
            <select id="kec_option" class="form-select" required disabled>
                <option value="" selected disabled>Pilih Kecamatan</option>
            </select>
        </div>

        <!-- Kelurahan -->
        <div class="col-12 col-md-6">
            <label for="kel_option" class="form-label">Kelurahan <span class="text-danger">*</span></label>
            <select id="kel_option" name="address_code" class="form-select" required disabled>
                <option value="" selected disabled>Pilih Kelurahan</option>
            </select>
        </div>
        
    </div>
</div>