<html lang="en">
<%-include('../partials/head')%>
<body>

    <div class="container text-center">
        <div class="card shadow p-4 rounded-4 border-0">
            <h1 class="display-4 text-danger fw-bold">Oops!</h1>
            <p class="lead" id="error-message">Something went wrong on our end.</p>
            <p class="lead" id="error-message">Message : <%=error.message || 'Server crashed'%></p>
            <p class="text-muted" id="error-status">Error Code: <%=error.status || 500%></p>
            <a href="/admin/dashboard" class="btn btn-primary mt-3">Back to Dashboard</a>
        </div>
    </div>

</body>
</html>