<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">

        <!-- Login Form -->
        <div class="col-md-4">
            <h3 class="mb-3 text-center">Login</h3>
            <%-include('../partials/flash_message')%>
            <form action="/auth/login" method="post">
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control" id="loginEmail" placeholder="Enter username" required>
                </div>
                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="loginPassword" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>

    </div>
</div>

</body>
</html>
